#titulo {
    text-decoration: underline;
    color: midnightblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    background-color: lightsteelblue;
}
.caja {
    background-color: white;
    margin: 10px;
    padding: 15px;

}
.texto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
body {
    background-color: steelblue;
}
